@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


@font-face {
    font-family: "mon1";
    src: url(Fonts/MonumentExtended-Black.ttf);
}

@font-face {
    font-family: "mon2";
    src: url(Fonts/MonumentExtended-Regular.ttf);
}

@font-face {
    font-family: "Blanka";
    src: url(Fonts/Blanka.otf);
}
*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    --background-color: rgb(0, 0, 0);
    --text-color: rgb(129, 129, 129);
    --subtext-color: rgb(192, 192, 192);
}

body, html {
    padding: 0;
    margin: 0;

}

p{
    color: #CFCFCF;
}


.slider {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 150px;
    color: white;
    
    text-align: right;
}
.slider input {
    width: 100%;
    margin-bottom: 5px;
}
#stars{
    z-index: -100;
    height: 100vh;
    width: 100%;
    position: absolute;
}

a{
    text-decoration: none;
}

html,
body
{
    
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
/*     cursor: none; */
    overflow-x: hidden;
   

    
    
    
}

@media screen and (min-width: 900px) {
    body, html {
    
        /* cursor: none; */
    
    
    }
    
  }

body::-webkit-scrollbar {
    display: none;
}


.bgnoise{
    background-image: url(./static/noiseatexture.png);
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    pointer-events: none;
}



.cursor{
    z-index: 10000;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    transition-property: background, transform;
    pointer-events: none;
    mix-blend-mode: difference;
    filter: blur(13px);
}

.link-grow1 {
    transform: scale(3);
    
    color: white;
    filter: blur(2px);
}

.link-grow {
    transform: scale(8);
    color: white;
    filter: blur(2px);
}

header{
    font-family: 'mon1';
    position: fixed;
    top: 26px;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: 1000;
}




#toggle{
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #f5ae5700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#toggle::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background: #F5AF57;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 4px;
    background: #F5AF57;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
    
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

#toggle.active{
    background: #f5ae5700;
}

#navbar{
    position: relative;
    height: 60px;
    right: 60px;
    background: rgba(66, 18, 18, 0);
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}
#navbar.active{
width: 400px;
}

#navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
}


#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    color: #F5AF57;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    padding: 0 10px;
    letter-spacing: 2px;
}

#navbar ul li a:hover{
    color:rgb(255, 255, 255);
    background: #f5ae5700;
}


.container {
    
    z-index: 0;
    width: 100%;
    height: 10vh;
    
    padding: 0px;
    margin: 0px;
  }
  .first{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.content1,.content3{
    
    
    flex-basis: 6%;
    
    padding: 0px;
    margin: 0px;
}

.content2{
    
    flex-basis: 88%;
    padding: 0px;
    margin: 0px;
    
    
}
.content3{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .icon1{
        z-index: 4;
        top:95px;
        right: 15px;
        color: #F5AF57;
        position: fixed;
    }
    
    .icon2{
        z-index: 4;
        top: 155px;
        right: 15px;
        color: #F5AF57;
        position: fixed;
    }
.main1{
    
    
    padding: 0px;
    margin: 0px 0px 25px 0px; 
    display: flex;
    flex-direction: column ;
}

.nav{
    flex-basis: 15%;
    
    display: flex;
    flex-direction: row;
}

.logo{
    z-index: 1001;
    
    font-family: 'Blanka';
    
    flex-basis: 33.33%;
   
    
    
    
}
.case{
    width: fit-content;
    top: 10px; 
    position: relative;
    
    
}

.nvm1,.nvm2,.nvm3
{

    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    line-height: 78px;
    letter-spacing: 0.225em;
    color: #0f0f11;
    -webkit-text-stroke-width: 0.03em;
    -webkit-text-stroke-color: #F5AF57;
    transition: 0.7s;


}
.nvm1{
    position: absolute;
    top: 0px;
    left: 0px;
}

.nvm2{
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.nvm3{
    position: absolute;
    top: 0px;
    left: 0px;
}


.case:hover .nvm2
{   
   transform:translate3d(3.8px,-3.8px,0px);
}

.case:hover .nvm3
{   
   transform:translate3d(7.2px,-7.2px,0px);
}



.portfolio{
    z-index: 1001;
    flex-basis: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'mon1';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 54px;
    letter-spacing: 0.045em;
    color: #F5AF57;
   
}
.footer .contain{
width: 90vw;
margin-left: 8%;
	
}
.contain .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contain ul {
    list-style: none;
}

.footer {
    background-color: var(--background-color);
    padding: 100px 0;
    border-top: 2px solid rgb(129, 129, 129);
}

.footer .footer-col {
    width: auto;
    padding: 20px 0px;
}
.footer .footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #F5AF57;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer .footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer .footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer .footer-col .social-links a:hover{
	color: #0f0f11;
	background-color: #ffffff;
}


@media (max-width: 800px)
{

    .footer .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }}


    @media(max-width: 574px){
        .footer{
            
            padding: 30px 0;
        }
        .footer .footer-col{
          width: 100%;
      }
      }
      @media only screen and (max-width: 1200px) {
    
        .cursor{
            display: none;
        }
    }





@media only screen and (max-width: 1000px) {
    

    .n{

        font-size: 4vw;
    }

}

@media (max-width: 1100px)
{
    #navbar
    {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0f0f11;
        font-size: 50px;
    }

    #navbar.active{
        height: 100%;
        bottom: 0;
        width: 100%;
    }

    #navbar ul{
        flex-direction: column;
        justify-content: center;
        
    }
    #navbar ul li a{
        line-height: 135px;
        color: #0f0f11;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #F5AF57;
        }
} 

.aboutm{

    display: flex;
    flex-direction: column;
    margin: 9%9% 0 9%;
    /* margin-top: 5rem; */
    margin-bottom: 10%;
}



.about{
    gap: 20px;
    position: relative;
    display: flex;
    margin-bottom: 5%;
}
.aboutl{
    flex-basis: 40%;
    display: flex;
    
    
}
.aboutr{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content:end;
}




img{
    height: 40rem;
    padding-left: 4vw;
    
}

.arh{
font-size: 4.2rem;
}


.aph{
font-size: 1.3rem;
}
.r{
    justify-content: center;
    
}
.re{
    height: 35vw; 
}

@media only screen and (max-width: 1200px) {
    .aboutm{

        display: flex;
        flex-direction: column;
        margin: 9% 9% 9% 9%;
        margin-top: 5rem;
    }
    .aboutl{

        display: flex;
        align-items: center;
        justify-content: center;
     
    }
    .about{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
    }
    
    img{
        height:90vw;
        margin-bottom: 3rem;
        padding-left: 0rem;
        
    }
    .re{
        height: 95vw; 
    }
    .arh{
        font-size: 2.2rem;
        }
        
        
        .aph{
        font-size: 1.3rem;
        }
    
}
