@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


@font-face {
    font-family: "mon1";
    src: url(Fonts/MonumentExtended-Black.ttf);
}

@font-face {
    font-family: "mon2";
    src: url(Fonts/MonumentExtended-Regular.ttf);
}

@font-face {
    font-family: "Blanka";
    src: url(Fonts/Blanka.otf);
}
*
{
    margin: 0;
    padding: 0;
}

body, html {
    padding: 0;
    margin: 0;

}
.slider {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 150px;
    color: white;
    
    text-align: right;
}
.slider input {
    width: 100%;
    margin-bottom: 5px;
}
#stars{
    z-index: -100;
    height: 100vh;
    width: 100%;
    position: absolute;
    
}

a{
    text-decoration: none;
}

html,
body
{
    
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
    color: rgb(0, 0, 0);
    cursor: none;
    overflow-x: hidden;
   

    
    
    
}

body::-webkit-scrollbar {
    display: none;
}





.cursor{
    z-index: 10000;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    transition-property: background, transform;
    pointer-events: none;
    mix-blend-mode: difference;

}

.link-grow1 {
    transform: scale(3);
    color: white;
}

.link-grow {
    transform: scale(8);
    color: white;
}

header{
    font-family: 'mon1';
    position: fixed;
    top: 26px;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: 1000;
}




#toggle{
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #f5ae5700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#toggle::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background: #F5AF57;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 4px;
    background: #F5AF57;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

#toggle.active{
    background: #f5ae5700;
}

#navbar{
    position: relative;
    height: 60px;
    right: 60px;
    background: rgba(66, 18, 18, 0);
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}
#navbar.active{
width: 400px;
}

#navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
}


#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    color: #F5AF57;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    padding: 0 10px;
    letter-spacing: 2px;
}

#navbar ul li a:hover{
    color:rgb(255, 255, 255);
    background: #f5ae5700;
}


.container {
    
    z-index: 0;
    width: 100%;
    height: 100%;
    
    padding: 0px;
    margin: 0px;
  }
  .first{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.content1,.content3{
    
    height: 100vh;
    flex-basis: 6%;
    
    padding: 0px;
    margin: 0px;
}

.content2{
    
    flex-basis: 88%;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    
}
.main1{
    
    height: 100%;
    padding: 0px;
    margin: 0px 0px 25px 0px; 
    display: flex;
    flex-direction: column ;
}

.nav{
    flex-basis: 15%;
    
    display: flex;
    flex-direction: row;
}

.logo{
    z-index: 1001;
    
    font-family: 'Blanka';
    
    flex-basis: 33.33%;
   
    
    
    
}
.case{
    width: fit-content;
    top: 10px; 
    position: relative;
    
    
}

.nvm1,.nvm2,.nvm3
{

font-style: normal;
font-weight: normal;
font-size: 3em;
line-height: 78px;
letter-spacing: 0.225em;
color: #000000;
-webkit-text-stroke-width: 0.03em;
-webkit-text-stroke-color: #F5AF57;
transition: 0.7s;


}
.nvm1{
    position: absolute;
    top: 0px;
    left: 0px;
}

.nvm2{
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.nvm3{
    position: absolute;
    top: 0px;
    left: 0px;
}


.case:hover .nvm2
{   
   transform:translate3d(3.8px,-3.8px,0px);
}

.case:hover .nvm3
{   
   transform:translate3d(7.2px,-7.2px,0px);
}



.portfolio{
    z-index: 1001;
    flex-basis: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'mon1';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 54px;
    letter-spacing: 0.045em;
    color: #F5AF57;
   
}




.blank{
    flex-basis: 33.33%;
    
}

.land{
    flex-basis: 85%;
   
    display: flex;
    flex-direction: row;
}

.left{
    position: relative;
    flex-basis: 42.5%;
    
    margin-bottom: 75px;
    

}

.case1{
    position: absolute;
    bottom: 0px;
}

.hi{
   
    font-size: 4rem; 
    color:#ffffff ;
    bottom: 0px;
    font-family: 'mon1';
    
}

.state{
    font-weight: 500;
    font-size: 1.3rem;
    color: #f5ae57;
    bottom: 0px;
}

.middle{
    flex-basis: 15%;
    
    margin-bottom: 50px; 
}

.right{
    flex-basis: 42.5%; 
   
    margin-bottom: 50px;
    display: flex;
    flex-direction: column; 
    font-family: 'Josefin Sans';
    
}



.work,.resume,.hobbies,.about{
    flex-basis: 25%; 
    width: fit-content;
    position: relative;
    font-family: 'mon1';
    font-style: normal;
    font-weight: bold;
    font-size: 6vw;
    letter-spacing: 4px;
    line-height: 135px;
    color: #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F5AF57;
   
}

.work1,.resume1,.hobbies1,.about1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition:0.7s;
    
    
}
.work2,.resume2,.hobbies2,.about2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition:0.7s;
}
.work3,.resume3,.hobbies3,.about3{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition:0.7s;
    
}

.case2{
    position: absolute;
}

.work:hover .work3, .resume:hover .resume3, .hobbies:hover .hobbies3, .about:hover .about3
{   
   transform:translate3d(10px,-10px,0px);
}

.work:hover .work2, .resume:hover .resume2, .hobbies:hover .hobbies2, .about:hover .about2
{   
   transform:translate3d(5px,-5px,0px);
}











.content3{
display: flex;
flex-direction: column;
align-items: center;
}

.fa-linkedin-in{
    z-index: 4;
    top:95px;
    right: 15px;
    color: #F5AF57;
    position: fixed;
}

.fa-instagram{
    z-index: 4;
    top: 155px;
    right: 15px;
    color: #F5AF57;
    position: fixed;
}





.locksecond{
    height: 690vh;
    
}



.second{
    
    
    height: 300px;
    padding: 0px 50px;
    width: 1400px;
 
}

.a{
    display: none;
}
.sticky {
    position: sticky;
    top: 10%;
  }

.swork{
    z-index: 6;
    position: sticky;
    top: 0px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F5AF57;
}
.sp{
    width:500px;
    font-size:3vw;
}
.pr{
    margin: 90px 120px;
    
    transform: translate(+30%,0%);
    width: 1200px;
    font-family: 'mon1';

}

.a1stackl{
    
    background-image: url(./static/pa/mockup_1.png);
    width: 50vw;
    height: 45vh;
    background-size: cover;
    background-position: center;

}
.a2stackl{
    
    background-image: url(./static/pare/Frame\ 1.png);
    width: 50vw;
    height: 45vh;
    background-size: cover;
    background-position: center;

}
.a3stackl{
    
    background-image: url(./static/paav/mpl.png);
    width: 50vw;
    height: 45vh;
    background-size: cover;
    background-position: center;

}
.a4stackl{
    
    background-image: url(./static/pag/mpag.png);
    width: 50vw;
    height: 45vh;
    background-size: cover;
    background-position: center;

}
.a1stackr,.a2stackr,.a3stackr,.a4stackr{
    display: flex;
    flex-direction: row;
}








.n{
    padding-top: 40px;
    color: #000000;
    font-size: 4vw;
    
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F5AF57;
}



/* .op{background: url(Photos/demo.jpg) no-repeat 50% 50%; background-size: cover;}
.sp{background: url(Photos/demo.jpg) no-repeat 50% 50%;}
.tp{background: url(Photos/demo.jpg) no-repeat 50% 50%; background-size: cover;}
.fp{background: url(Photos/demo.jpg) no-repeat 50% 50%; background-size: cover;} */


/* .pr{
    position: relative;
    width: 600px;
    height: 460px;
    margin: 10px 300px 20px 80px;
}
.n{
    position: absolute;
    font-family: 'mon1';
    font-size: 44px;
}
.op{background: url(Photos/demo.jpg) no-repeat 50% 50%; background-size: cover;}
.sp{background: url(Photos/demo.jpg) no-repeat 50% 50%; background-size: cover;}
.tp{background: url(Photos/demo.jpg) no-repeat 50% 50%; background-size: cover;}
.fp{background: url(Photos/demo.jpg) no-repeat 50% 50%; background-size: cover;}
.locksecond{
    height: 320vh;
    position: relative;
    
}
.second{
    
    
    position: fixed;
   
    margin-top: 200px;
    margin-left: 200px;
    height: 100vh;
    
}
.sp .n,
.op .n,
.tp .n,
.fp .n{
   
   right: -500px; 
}
.sp{
    left: -200px;
    top: 600px;
}
.tp{
    left: -400px;
    top: 1200px;
}
.fp{
    left: -600px;
    top: 1800px;
}
.swork{
    position: fixed;
} */








footer{
	
    padding: 350px 0px 50px 0px;
    
    margin: 50px;
}
.container1{
	
	margin-top: 50px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer-col{
   width: 31%;
   padding: 0 15px;
   
}
.footer-col h4{
	font-size: 28px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #F5AF57;
	height: 2px;
	box-sizing: border-box;
	width: 80px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
    width: fit-content;
	font-size: 18px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}


/*responsive*/
@media(max-width: 700px){
  .footer-col{
    width: 50%;
    
    margin-bottom: 30px;
}

.ob{
    margin-top: 100px;
}



}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}

}




/* ###########################responsive########################### */



@media only screen and (max-width: 700px) {
    
    .cursor{
        display: none;
    }
    .middle,.right{
        display: none;
    }
    .hi{
        font-size: 2.2rem;
    }
    .state{
        font-size: 1.3rem;
    }
    .left{
        flex-basis: 100%;
    }
    /* .nvm1,.nvm2,.nvm3
    {
    font-size: 45px;
    } */
    .portfolio{
        display: none;
    }
    /* .logo{
        position: fixed;
        z-index: 100;
    } */
    .res{
        display: none;
    }
    .footer-col oa{
        display: none;
    }
    
    
    
    footer{
        
        
        padding: 0px 0px 0px 0px;
        
        margin: 0px 50px 50px 50px;
    }
    .oa{
        display: none;
    }
    .footer-col{
        transform: translate(0%,-30%);
     }
     .container1{
	
        margin-top: 0px;
    }
    .locksecond{
        display: none;
        
    }
    .swork{
        position: relative;
    }
    .second{
        display: none;

    }
    .a{
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        
    }
    .spr{
        margin: 60px 60px;
        width: 120px;
        font-family: 'mon1';

        
    }
    
    .sa1stackl{
        
        background-image: url(./static/pa/mockup_1.png);
        width: 70vw;
        height: 70vw;
        background-size: cover;
        background-position: center;
    
    }
    .sa2stackl{
        
        background-image: url(./static/pare/Frame\ 1.png);
        width: 70vw;
        height: 70vw;
        background-size: cover;
        background-position: center;
    
    }
    .sa3stackl{
        
        background-image: url(./static/paav/mpl.png);
        width: 70vw;
        height: 70vw;
        background-size: cover;
        background-position: center;
    
    }
    .sa4stackl{
        
        background-image: url(./static/pag/mpag.png);
        width: 70vw;
        height: 70vw;
        background-size: cover;
        background-position: center;
    
    }
    .sa1stackr,.sa2stackr,.sa3stackr,.sa4stackr{
        display: flex;
        flex-direction: row;
    }
    .sn{
        padding-top: 10px;
        color: #000000;
        font-size: 12vw;
        
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #F5AF57;
    }

    .sp{
        width: 70vw;
        font-size: 5vw;
    }

    




  }









@media only screen and (max-width: 1530px) {
    .pr{
        margin: 50px 120px;
    }
}
@media only screen and (max-width: 1200px) {
    


    .n{

        font-size: 4vw;
    }

}



@media only screen and (max-width: 1000px) {
    

    .n{

        font-size: 4vw;
    }

}

@media (max-width: 1100px)
{
    #navbar
    {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000000;
        font-size: 50px;
        flex-basis: 25%; 
    
    

    

    
    

    }

    #navbar.active{
        height: 100%;
        bottom: 0;
        width: 100%;
    }

    #navbar ul{
        flex-direction: column;
        justify-content: center;
        
    }
    #navbar ul li a{
    line-height: 135px;
    color: #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F5AF57;
    }
} 

.a1stackr,.a2stackr,.a3stackr,.a4stackr,.sa54stackr,.sa1stackr,.sa2stackr,.sa3stackr
{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);       
}